---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/about_me.png"
>  
<p>
I'm Cody Clements, an ethical hacker driven by a passion that started when I was just seven years old. It all began with the thrill of trying to jailbreak an iPod Touch. That exhilarating experience sparked a lifelong fascination with the world of hacking and cybersecurity.
</p>
<p>
	What excites me the most about ethical hacking is the thrill and the creativity it demands. It's about solving complex problems and uncovering vulnerabilities that not just anyone can figure out. The satisfaction of outsmarting the challenges keeps me going.
</p>
<p>
	Though I haven't had formal education or certifications in Cyber Security, my journey has been rich with self-learning and real-world experience. From tinkering with devices as a kid to diving deep into the intricacies of cybersecurity, every step has been an adventure.
</p>
<p>
	I invite you to follow along as I navigate the intricate and ever-changing landscape of ethical hacking, sharing my experiences and knowledge along the way.
</p>

	
</Layout>
